/* vim: set noai ts=4 sw=4: */
html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	margin: auto auto auto auto; /* Center content */
	font-family: Helvetica;
	background: lightgrey;
}

#header {
	position: fixed; 
	width: 80%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	left: 0;
	top: 0;
	z-index: 100;
	font-size: 200%;
	color: white;
	background: #36454f;
}

#dropdown {
	position: fixed; 
	width: 20%;
	height: 60px;
	line-height: 50px;
	text-align: center;
	right: 0;
	top: 0;
	z-index: 100;
	color: white;
	background: #536872;
}


#account > img {
	height: 32px;
	vertical-align: middle;
}

#account {
	position: fixed; 
	width: 20%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	vertical-align: middle;
	right: 0;
	top: 0;
	z-index: 100;
	color: white;
	background: #536872;
}


/* Menu desplegable */
#dropdown  ul ul {
	display: none;
}

#dropdown  ul li:hover #account > ul {
	width: 100%;
	display: block;
}

#dropdown  ul {
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 
	padding: 0 20px;
	vertical-align: middle;
	list-style: none;
	position: center;
	display: inline-table;
}
#dropdown  ul:after {
	content: ""; 
	clear: both; 
	display: block;
}


#dropdown  ul li {
	float: left;
}


#dropdown  ul li:hover a {
	color: #fff;
}

#dropdown  ul li a {
	display: block; 
	padding: 0px 40px;
	color: #757575; 
	text-decoration: none;
}

#dropdown  ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
}

#dropdown  ul ul li {
	float: none; 
	border-top: 1px solid #6b727c;
	border-bottom: 1px solid #575f6a;
	position: relative;
}

#dropdown  ul ul li a:hover {
	background: #4b545f;
}


#sidebar {
	float: left;
	position: fixed;
	width: 180px;
	height: 100%;
	padding: 10px 10px;
	background: #536878;
}


#scrollable {
	margin: 60px 0 30px 200px;
	padding: 0 10px 10px 10px;
}

#scrollable > form {
	margin-top: 20px;
	text-align: center;
}

#footer {
	position: fixed; 
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: right;
	bottom: 0;
	z-index: 100;
	color: white;
	background: #36454f;
}

#footer > a > img {
	margin-right: 4px;
	vertical-align: middle;
	height: 20px;
}

.button1 {
	width: 170px;
	height: 32px;
	padding: 4px 4px;
	margin-top: 10px;
	border: none;
	font-size: 80%;
	background: #708090;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.button1 > img {
	vertical-align: middle;
	width: 32px;
}

.button2 {
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: none;
	border-radius: 20px;
	font-size: 12pt;
	background: #36454f;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.button2 > * {
	padding: 0 10px;
}

input[type="search"] {
	width: 100%;
	border: none;
}

.title {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
	border: none;
	border-radius: 20px;
	font-size: 150%;
	color: #36454f;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
}

.category {
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	text-align: center;
	border: solid 1px #36454f;
	border-radius: 20px;
	font-size: 150%;
	color: #36454f;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
}

.match1 {
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-top: 10px;
	text-align: center;
	border: none;
	font-size: 200%;
	background: linear-gradient(to right, red , #6e7f80, #6e7f80, #6e7f80, green);
	color: white;
	text-decoration: none;
	display: inline-block;
}

.match1 > img {
	vertical-align: middle;
	width: 64px;
}

.match2 {
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-top: 10px;
	text-align: center;
	border: none;
	font-size: 200%;
	background: #6e7f80;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.match2 > img {
	vertical-align: middle;
	width: 64px;
}

.option {
	width: 100%;
	height: 100px;
	line-height: 100px;
	margin-top: 10px;
	text-align: center;
	border: none;
	font-size: 200%;
	background: #6e7f80;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.option > img {
	vertical-align: middle;
	width: 24px;
}
